.legordulo-elem {
    display: none;
    position: absolute;
    z-index: 20;
}

.legordulo {
    position: relative;
}

nav ul {
    list-style-type: none;
}

.legordulo:hover .legordulo-elem {
    display: block;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

header {
    background-color: lightblue;
}

main {
    max-width: 1000px;
    margin: auto;
}
nav{
    padding: 40px 0px 40px 20px;
}
article .kepek {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-gap: 5px;
}

nav>ul {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 10px;
}

nav ul a {
    text-decoration: none;
    display: block;
    color: white;
    background-color: gray;
    padding: 10px;
}

nav ul li {
    width: 200px;
}
.le_kep{
    display: none;
    position: absolute;
}
.alap_kep:hover .le_kep{
    display: block;
}