.legordulo-elem {
    display: none;
    position: absolute;
    z-index: 20;
}

.legordulo {
    position: relative;
}

nav ul {
    list-style-type: none;
}

.legordulo:hover .legordulo-elem {
    display: block;
}

main {
    max-width: 1000px;
    margin: auto;
}

nav>ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10 px;
}

nav ul a {
    text-decoration: none;
    display: block;
    color: white;
    background-color: gray;
    padding: 10px;
}