.legordulo-elem {
    display: none;
    position: absolute;
    z-index: 20;
}

.legordulo {
    position: relative;
}

nav ul {
    list-style-type: none;
}

.legordulo:hover .legordulo-elem {
    display: block;
}
<<<<<<< HEAD

img {
    width: 200px;
}

=======
header{
    background-color: lightblue;
    height: 100px;
}
>>>>>>> f899f5f426337566d4cbab497b3a37ebe353f89a
main {
    max-width: 1000px;
    margin: auto;
}
article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
nav>ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10 px;
}

nav ul a {
    text-decoration: none;
    display: block;
    color: white;
    background-color: gray;
    padding: 10px;
}
nav ul li {
    width: 200px;

}